In [15]:
import pandas as pd

train_features = pd.read_csv('data/train_features.csv', encoding='utf-8')
test_features = pd.read_csv('data/test_features.csv', encoding='utf-8')
train_labels = pd.read_csv('data/train_labels.csv', encoding='utf-8')
submission = pd.read_csv('data/sample_submission.csv', encoding='utf-8')

In [16]:
train = pd.concat([train_features, train_labels], axis = 1)
train

,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z,id,label,label_desc
0,0,0,1.206087,-0.179371,-0.148447,-0.591608,-30.549010,-31.676112,0.0,37.0,Shoulder Press (dumbbell)
1,0,1,1.287696,-0.198974,-0.182444,0.303100,-39.139103,-24.927216,1.0,26.0,Non-Exercise
2,0,2,1.304609,-0.195114,-0.253382,-3.617278,-44.122565,-25.019629,2.0,3.0,Biceps Curl (band)
3,0,3,1.293095,-0.230366,-0.215210,2.712986,-53.597843,-27.454013,3.0,26.0,Non-Exercise
4,0,4,1.300887,-0.187757,-0.222523,4.286707,-57.906561,-27.961234,4.0,26.0,Non-Exercise
...,...,...,...,...,...,...,...,...,...,...,...
1874995,3124,595,-0.712530,-0.658357,0.293707,-29.367857,-104.013664,-76.290437,NaN,NaN,NaN
1874996,3124,596,-0.683037,-0.658466,0.329223,-30.149089,-101.796809,-76.625087,NaN,NaN,NaN
1874997,3124,597,-0.664730,-0.666625,0.364114,-27.873095,-98.776072,-79.365125,NaN,NaN,NaN
1874998,3124,598,-0.630534,-0.682565,0.373696,-23.636550,-99.139495,-80.259478,NaN,NaN,NaN
1874999,3124,599,-0.578351,-0.700235,0.384390,-17.917626,-100.181873,-80.676229,NaN,NaN,NaN

In [17]:
traindf = train[['id','time','acc_x','acc_y','acc_z','gy_x','gy_y','gy_z','label']]
traindf

,id,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z,label
0,0,0.0,0,1.206087,-0.179371,-0.148447,-0.591608,-30.549010,-31.676112,37.0
1,0,1.0,1,1.287696,-0.198974,-0.182444,0.303100,-39.139103,-24.927216,26.0
2,0,2.0,2,1.304609,-0.195114,-0.253382,-3.617278,-44.122565,-25.019629,3.0
3,0,3.0,3,1.293095,-0.230366,-0.215210,2.712986,-53.597843,-27.454013,26.0
4,0,4.0,4,1.300887,-0.187757,-0.222523,4.286707,-57.906561,-27.961234,26.0
...,...,...,...,...,...,...,...,...,...,...
1874995,3124,NaN,595,-0.712530,-0.658357,0.293707,-29.367857,-104.013664,-76.290437,NaN
1874996,3124,NaN,596,-0.683037,-0.658466,0.329223,-30.149089,-101.796809,-76.625087,NaN
1874997,3124,NaN,597,-0.664730,-0.666625,0.364114,-27.873095,-98.776072,-79.365125,NaN
1874998,3124,NaN,598,-0.630534,-0.682565,0.373696,-23.636550,-99.139495,-80.259478,NaN
1874999,3124,NaN,599,-0.578351,-0.700235,0.384390,-17.917626,-100.181873,-80.676229,NaN

In [19]:
traindf = traindf.dropna()
traindf

,id,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z,label
0,0,0.0,0,1.206087,-0.179371,-0.148447,-0.591608,-30.549010,-31.676112,37.0
1,0,1.0,1,1.287696,-0.198974,-0.182444,0.303100,-39.139103,-24.927216,26.0
2,0,2.0,2,1.304609,-0.195114,-0.253382,-3.617278,-44.122565,-25.019629,3.0
3,0,3.0,3,1.293095,-0.230366,-0.215210,2.712986,-53.597843,-27.454013,26.0
4,0,4.0,4,1.300887,-0.187757,-0.222523,4.286707,-57.906561,-27.961234,26.0
...,...,...,...,...,...,...,...,...,...,...
3120,5,3120.0,120,-1.022877,-0.142019,0.254562,53.462443,36.469158,-55.635683,26.0
3121,5,3121.0,121,-1.115443,-0.205141,0.183026,67.653479,50.011899,-57.176468,26.0
3122,5,3122.0,122,-1.181940,-0.323242,0.027879,83.366454,56.932573,-55.032067,15.0
3123,5,3123.0,123,-1.150708,-0.352536,-0.080718,89.880047,52.933033,-49.580941,26.0
3124,5,3124.0,124,-1.096074,-0.288715,-0.148388,99.529954,47.847555,-43.493400,2.0

In [ ]:
traindf.groupby([])

In [5]:
test_features = test_features.dropna()
test_features

,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z
0,3125,0,-0.628100,-0.160155,0.151487,49.665357,88.435961,13.597668
1,3125,1,-0.462548,0.012462,-0.053726,56.953059,96.185341,16.278458
2,3125,2,-0.363481,-0.091789,-0.130004,29.557396,93.836453,13.329043
3,3125,3,-0.351750,-0.239870,-0.193053,23.686172,88.608721,13.449771
4,3125,4,-0.312934,-0.123762,-0.318621,20.410071,85.327707,13.884912
...,...,...,...,...,...,...,...,...
469195,3906,595,0.104191,-0.784979,0.639513,-10.475346,14.095361,-190.358982
469196,3906,596,0.103297,-0.758954,0.615687,-25.360272,-8.523018,-180.393291
469197,3906,597,0.128294,-0.749389,0.586184,-27.917723,-23.186245,-162.624160
469198,3906,598,0.104130,-0.692731,0.573397,-27.847980,-30.407555,-138.761676
469199,3906,599,0.059299,-0.613487,0.556780,-29.900725,-36.586219,-116.423810

In [6]:
submission

,id,0,1,2,3,4,5,6,7,8,...,51,52,53,54,55,56,57,58,59,60
0,3125,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3126,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3127,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3128,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3129,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,3902,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
778,3903,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
779,3904,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
780,3905,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
781,3906,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
X_train

      time     acc_x     acc_y     acc_z       gy_x       gy_y       gy_z
0        0  1.206087 -0.179371 -0.148447  -0.591608 -30.549010 -31.676112
1        1  1.287696 -0.198974 -0.182444   0.303100 -39.139103 -24.927216
2        2  1.304609 -0.195114 -0.253382  -3.617278 -44.122565 -25.019629
3        3  1.293095 -0.230366 -0.215210   2.712986 -53.597843 -27.454013
4        4  1.300887 -0.187757 -0.222523   4.286707 -57.906561 -27.961234
...    ...       ...       ...       ...        ...        ...        ...
3120   120 -1.022877 -0.142019  0.254562  53.462443  36.469158 -55.635683
3121   121 -1.115443 -0.205141  0.183026  67.653479  50.011899 -57.176468
3122   122 -1.181940 -0.323242  0.027879  83.366454  56.932573 -55.032067
3123   123 -1.150708 -0.352536 -0.080718  89.880047  52.933033 -49.580941
3124   124 -1.096074 -0.288715 -0.148388  99.529954  47.847555 -43.493400

[3125 rows x 7 columns]

In [7]:
from lightgbm import LGBMClassifier
lgbm = LGBMClassifier(n_estimators=200)

In [8]:
X_train = traindf.iloc[:,:-1]
Y_train = traindf['label']

In [9]:
lgbm.fit(X_train, Y_train,verbose=True)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=200, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [10]:
test_df = test_features.drop(['id'], axis = 1)
test_df

        time     acc_x     acc_y     acc_z       gy_x       gy_y        gy_z
0          0 -0.628100 -0.160155  0.151487  49.665357  88.435961   13.597668
1          1 -0.462548  0.012462 -0.053726  56.953059  96.185341   16.278458
2          2 -0.363481 -0.091789 -0.130004  29.557396  93.836453   13.329043
3          3 -0.351750 -0.239870 -0.193053  23.686172  88.608721   13.449771
4          4 -0.312934 -0.123762 -0.318621  20.410071  85.327707   13.884912
...      ...       ...       ...       ...        ...        ...         ...
469195   595  0.104191 -0.784979  0.639513 -10.475346  14.095361 -190.358982
469196   596  0.103297 -0.758954  0.615687 -25.360272  -8.523018 -180.393291
469197   597  0.128294 -0.749389  0.586184 -27.917723 -23.186245 -162.624160
469198   598  0.104130 -0.692731  0.573397 -27.847980 -30.407555 -138.761676
469199   599  0.059299 -0.613487  0.556780 -29.900725 -36.586219 -116.423810

[469200 rows x 7 columns]

In [ ]:
test_df

In [ ]:
y_test = lgbm.predict(test_df)
y_test

In [11]:
y_pred = lgbm.predict_proba(test_df)
y_pred

array([[1.11857681e-06, 1.28873718e-06, 1.14782592e-05, ...,
        7.49343297e-06, 1.10077148e-06, 1.72671565e-04],
       [2.12949396e-07, 5.21875651e-07, 5.28337271e-06, ...,
        1.20791103e-06, 9.25424849e-07, 8.76357517e-06],
       [2.92301411e-06, 2.68857686e-06, 6.73475277e-06, ...,
        1.43107252e-06, 4.39289593e-06, 1.89465330e-04],
       ...,
       [4.78489001e-07, 2.61774990e-06, 2.63808314e-06, ...,
        6.55995314e-06, 8.02972547e-06, 5.66233619e-03],
       [1.08814995e-06, 4.36186216e-06, 5.99950168e-06, ...,
        5.17900138e-06, 1.09800717e-05, 9.01257738e-02],
       [8.66128418e-07, 3.47299237e-06, 4.06337591e-06, ...,
        2.40433585e-06, 7.47084097e-06, 2.60807185e-03]])

In [12]:
y_pred.shape

(469200, 61)

In [23]:
# 600개씩 합을 구하기 
y_preddf = pd.DataFrame(y_pred)

In [36]:
# test데이터는 id가 총 782개가 있음.
len(test_features['id'].unique())

782

In [27]:
# id를 넣어줌
lidf = []
for i in range(3125, 3907):
    for j in range(600):
        lidf.append(i)
        
y_preddf['id'] = lidf

In [35]:
submissiondf = y_preddf.groupby('id').sum().reset_index()
submissiondf.to_csv('submissiondf.csv', )